{{!< main}}
<div>
    <form id="resetPasswordForm" action="">
        <input id="password" type='password' placeholder="Ingrese su nueva contraseña">
        <input id="confirmPassword" type='password' placeholder="Confirme su nueva contraseña">
        <button type="submit">Enviar</button>
    </form>
</div>
<script src="verifyToken.js"></script>
<script src="resetPass.js">	</script>