{{!< main}}
<div>
    <form id="formSolicitarEmail" action="">
        <input type="text" name="email" placeholder="Ingrese el email registrado">
        <button id="solicitarEmail">Solicitar Email</button>
    </form>
</div>

<script src="sendEmail.js"></script>