{{!< main}} <div>
    <div class="botonBox">
        <form class="form" action="/api/product" method="post">
            <button id="backButton">Volver</button>
        </form>
        <form class="form" action="/api/users/logout" method="post">
            <button type="submit">Cerrar sesión</button>
        </form>
    </div>
    </div>