<footer>
    <p>by: Ricardo Graña</p>
    <a href="mailto:ricardogb.812@gmail.com"><i class="fas fa-envelope"></i> Enviar email</a>
    <a href="https://github.com/r1k4rd0g" target="_blank"><i class="fab fa-github"></i> GitHub</a>
</footer>