<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Proyecto Final</title>
</head>

<body class="body">
    <h1 class="h1Home">Proyecto Final</h1>
    <h2>Integración y plataforma e-commerce <br></h2>
    <h2>Vistas con handlebars</h2>
    {{{body}}}

    {{> footer}}
</body>



</html>